<html>
<head>

</head>
<body>

    <form method="POST">
        <table>
            <tr>
                <th>Nome</th>
                <td><input type="text" name="nome"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <th>Telemóvel</th>
                <td><input type="tel" name="telemovel"></td>
            </tr>
            <tr>
                <th>Pontos</th>
                <td><input type="number" name="pontos"></td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td><input type="number" name="cargo"></td>
            </tr>
        </table>
        <input type="submit" value="Enviar">
    </form>
    

</body>

</html>