<header>
    <nav>
       <div class="menu-icon">
          <i class="fa fa-bars fa-2x"></i>
       </div>
       <div class="logo">
         <h3 style="color: white;"><img src="../../assets/images/2.png" style="width: 8%;">AudioAlly</h3>
       </div>
       <div class="menu">
          <ul>
             <li><a href="/">Home</a></li>
             <li><a href="/utilizadores">Utilizadores</a></li>
             <li><a href="/produtor">Produtores</a></li>
             <li><a href="/servicos">Serviços</a></li>
             <li><a href="/marcacoes">Marcações</a></li>
          </ul>
       </div>
    </nav>
 </header>