<html>
<head>

</head>
<body>

    <form method="POST">
        <table>
            <tr>
                <th>Nome</th>
                <td><input type="text" name="nome"></td>
            </tr>
            <tr>
                <th>Descrição</th>
                <td><input type="text" name="descricao"></td>
            </tr>
            <tr>
                <th>Especialização</th>
                <td><input type="text" name="especializacao"></td>
            </tr>
            <tr>
                <th>Ativo</th>
                <td><input type="number" name="ativo"></td>
            </tr>
        </table>
        <input type="submit" value="Enviar">
    </form>
    

</body>

</html>