<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento de Barbearia</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/3700barber.css">
</head>
<body>
    <button id="agendarBtn" onclick="openPopup()">Agendar</button>

    <div id="popup" class="modal">
        <div class="modal-content">
            <span class="fechar" onclick="closePopup()">&times;</span>
            <h2>Serviços:</h2>
            <h2>Profissional:</h2>
            <h2>Horário:</h2>
            <!-- Formulário de agendamento da barbearia -->
            <form>
                <!-- Campos do formulário -->
            </form>
        </div>
    </div>

    <script>
        function openPopup() {
            document.getElementById("popup").style.display = "block";
        }

        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }
    </script>
</body>
</html>
